*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-family:Helvetica;
    font-size: 62.5%;
}
body{
    background-color: rgb(255, 255, 255);
}
.main{
    position: relative;
    z-index: 0;
    min-height: 100vh;
}
.footer{
    display: flex;
    align-items: center;
    justify-content: center;
}
.main__information--block{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 40px;
    background: rgba( 255, 255, 255, 0.25 );
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    -webkit-backdrop-filter: blur( 5px );
    z-index: 3;
    position: absolute;
    height: 200px;
    width: 250px;
    bottom: 0;
    border-radius: 20px;
    bottom: 15px;
    background-color: rgba(255, 255, 255, 0.64);
}
.city--value{
    font-weight: 500;
}
.temp--value{
    font-size: 2.3rem;
    font-weight: 100;
}
.none{
    display: none;
}
#map {
    height: 100vh; 
    width: 100vw;
}
